# name on the GitHub Actions
name: Playwright GitHub Actions
# event of run
on:
    workflow_dispatch
# Job
jobs:
  # job id
  playwright-test-run:
    # job name
    name: Running tests for Playwright
    # application used for running job
    runs-on: ubuntu-latest
    # add Docker
    container:
        image: mcp/playwright
    steps:
      # open repository and clone it into our container
      - name: Checkout
        uses: actions/checkout@v5
      # install node (as we use docker this step is not need, node is pre-installed in the current iamge)
    # - name: Install node
    #   uses: actions/setup-node@v6
    #   with:
    #     node-version: lts/*
    # install npm dependencies
      - name: Install dependencies
        run: npm ci
    # install browsers (as we use docker this step is not need, browsers are pre-installed in current image)
    # - name: Install Playwright Browsers
    #   run: npx playwright install --with-deps
    # run playwright test
      - name: Run Playwright tests
        run: npm run playwright:headless:Fixture